<!DOCTYPE HTML>
<html>
  <head>
  
    <style>
        body {
            margin: 10px;
            padding: 10px;
        }
        #myCanvas {
            outline: black 3px solid;
            z-index: 1;
        }
        #game{
            text-align: center;
            position: relative;
        }
        #instructions {
            font-family: sans-serif;
            font-size: 20px;
            text-align: inherit;
        }
    </style>
  </head>
  <body>
      <div id="game">
         <canvas id="myCanvas" width="800" height="600"></canvas>
         <script src="globals.js" type="text/javascript"></script>
         <script src="classes.js" type="text/javascript"></script>
         <script src="game.js"></script>
         <script src="menu.js"></script>
         <p id="instructions">Space to play/pause; QA and PL for up/down; Esc to restart</p>
    </div>
  </body>
</html>
      